<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Olá {{name}}</p>
  <p>Parece que uma troca de senha foi solicitada</p>
  <p>Se foi voce, enttao clique no link abaixo para escolher a nova senha</p>
  <p>
    <a href="{{link}}">resetar a senha</a>
  </p>
  <p>Se nao foi voce, desconsidere este email</p>
  <p>Atenciosamente<br /><strong>Equipe GoBarber</strong></p>
</div>
